/* Defines repeate Variables*/
:root {
  --dark: rgb(0, 110, 110);
  --light-teal: rgb(51, 169, 169);
  --light: #fff;
  --hovercolor: #ff9a57dd;

}
/* Defines entire page style*/
* {
    background-color:#f3fdec;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

/* Styling of Header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: var(--dark);
  color: var(--light);
  border-radius: 10px;
}
  
/* Styling of h1*/
h1 {
  font-size: 200%;
  background-color: var(--dark);
}

/* styling of h2*/
h2 {
  font-size: 250%;
  text-align: end;
}

/* nav background color */
nav {
  background-color: var(--dark);
}
  
/* styling of lists*/
ul {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark);
  padding-left: 0px;
}
  
/* styling of list items*/
li {
  display: inline;
  background-color: var(--dark);
  margin: 10px;
}  

/* Styling of links in header and footer*/
header a,
footer a {
  color: var(--light);
  font-weight: bold;
  text-decoration: none;
  background-color: var(--dark);
}

/* Styling p element */
p {
  font-size: 20px;
  padding: 20px;
  align-self:center;
  text-align: justify;
}

#about,
#my-work {
  display:flex;
}

img {
  object-fit:contain;
  width:100%;
  height:auto;
  border-radius: 10px;
}

/* styling left side items*/
aside {
  flex: 20%;
  padding: 20px;
  border-right: 5px solid var(--dark);
  float:left;
}

#about-me-description,
#project-display {
  flex:80%;
}

#about-me-description {
  display:flex;
}

#parent_1,
#parent_2 {
  display:flex;
}

#project-2,
#project-3,
#project-4,
#project-5 {
  flex:50%;
}

/* styling images to be less bright so it brightens on hover*/
.projects img {
  filter: brightness(60%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

/* adding brightening for hover */
.projects img:hover {
  filter: brightness(100%);
}
  
 /* setting spacing and projects to be relative so titles and popups are placed correctly*/
.projects {
  margin: 1%;
  position: relative;
}

/* styling project titles*/
h3 {
  position:absolute;
  top: -3%;
  left: 0%;
  padding: 8px;
  border-radius: 10px;
  background-color: var(--dark);
  color: var(--light);
}

/* styling project descriptions*/
h4 {
  position:absolute;
  bottom: -3.5%;
  right: 0%;
  padding: 8px;
  border-radius: 10px;
  background-color: var(--dark);
  color: var(--light);
  text-align: justify;
  font-weight: normal;
}

/* styling github links */
h5 {
  position:absolute;
  top: 5%;
  left: 0%;
  padding: 8px;
  border-radius: 10px;
  background-color: var(--dark);
  color: var(--light);
  font-size: 17px;
}

h5:hover {
  color: var(--hovercolor);
  border: 1px dashed var(--hovercolor);
}

/* styling footer*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: var(--dark);
  color: var(--light);
  border-radius: 10px;
}

/* styling h6 in footer*/
h6 {
  background-color: var(--dark);
  font-size: 150%;
  margin-top: 0px;
  margin-bottom: 0px;
  justify-content: flex-start;
}

/*styling footer background color */
footer section {
  background-color: var(--dark);
}

/* removing underline from links */
a:link {
  text-decoration: none;
}

/* adding hover colour */
a:hover {
  color: var(--hovercolor);
  text-decoration: none;
}

/*styling for smaller screens */
@media screen and (max-width: 847px) {

  /* Use flex-direction to stack the header and nav */
  header,
  nav {
    flex-direction: column;
  }

  /* Make the sidebar above respective section */
  #about,
  #my-work {
    flex-direction: column;
  }
  #my-pic {
    display:flex;
    width: 50%;
    align-self: center;
  }
  /*styling section line to show below about section  */
  #about {
    border-bottom: 5px solid var(--dark);
  }

  #about aside {
    display: flex;
    flex-direction: column;
  }

  /*styling section line not to show if smaller */
  #about aside,
  #my-work aside {
    border-right: none;
  }

  p {
    margin: 1% 0;
    font-size: 18px;
  }

  /*remove spacing to better format page */
  #about aside,
  #about-me-description {
    margin: 0px;
    padding: 0px;
  }

  /* adjusting spacing to better format page */
  #my-work aside {
    padding: 0px 20px;
  }

  /* centering h2 headers*/
  h1,
  h2,
  ul {
    text-align:center;
    margin: 1% 0;
  }

  h1, h2, h6 {
    font-size: 25px;
  }

  h3, ul {
    font-size: 15px;
  }

  h4 {
    font-size: 13px;
  }

  h5 {
    top: 9%;
    font-size: 12px;
  }

  #project-2,
  #project-3,
  #project-4, 
  #project-5 {
    flex:90%;
  }
  /* nav links*/
  nav a {
    justify-content: center;
  }

  /* Use flex-direction to stack the footer and nav  */
  nav,
  footer {
    flex-direction: column;
  }
}